/**************************/
/*** <colors> ***/
$black: #000;
$white: #fff;
$primary: #2C92DA;
$secondary: #ff7f24;
$dark: #333;

$caution: #EEAA10;
$success: #8FD694;
$error: #F64740;
/*** </colors> ***/
/**************************/


/**************************/
/*** <other variables> ***/
$fontSizeRoot: 16px;
$borderRadius: 10px;
$mainFontFamily: 'Open Sans', sans-serif;
$transition: all 0.3s ease;
/*** </other variables> ***/
/**************************/