@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "mixins";

section.page {
    max-width: 650px;
    width: 100%;
    padding: 0 1.25rem;
    &--bg {
        background-color: $primary;
        border-radius: 1.5rem;
        padding: 2rem 1.5rem;
        max-height: 85%;
        overflow: hidden;
    }
}

body {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $black, $alpha: 0.325);
        z-index: 1;
    }
}

.preloader {
    @include flex-center;
    height: 100%;
    text-align: center;
    span {
        width: 3rem;
        height: 3rem;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        display: inline-block;
    }
}

.scroll-parent {
    overflow-y: auto;
    height: 100%;
    padding-right: 0.5rem;
}

.black-scroll {
    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba($color: $black, $alpha: 0.325);
    }

    &::-webkit-scrollbar-thumb {
        background: $black;
        border-radius: 10px;
    }
}

.white-scroll {
    &::-webkit-scrollbar {
        width: 0.325rem;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba($color: $white, $alpha: 0.325);
    }

    &::-webkit-scrollbar-thumb {
        background: $white;
        border-radius: 10px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    &-title {
        text-align: center;
        margin: 0 0 2.75rem 0;
        color: $white;
        font-weight: bold;
        font-size: 2rem;
    }
    &-label {
        @include flex-center;
        justify-content: flex-start;
        text-align: left;
        color: $white;
        font-weight: 500;
        margin: 0 0 0.625rem 0;
        font-size: 1.25rem;
        span {
            @include flex-center;
            margin-right: 0.5rem;
            background-color: $white;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            color: $black;
            font-size: 0.875rem;
            line-height: 1;
        }
    }
    &-input-wrapper {
        position: relative;
        input {
            position: relative;
            z-index: 1;
        }
        img {
            position: absolute;
            top: 50%;
            right: 0.75rem;
            transform: translateY(-50%);
            width: 1.5rem;
            cursor: pointer;
            z-index: 2;
        }
    }
    &-input {
        display: block;
        width: 100%;
        background-color: $white;
        border-radius: 0.5rem;
        padding: 1rem 0.75rem;
        border: 2px solid $white;
        color: $black;
        outline: none;
        transition: $transition;
        line-height: 1.25;
        &.error {
            border-color: $error;
            &::placeholder {
                color: $error;
            }
        }
        &::placeholder {
            color: #aaa;
        }
    }
    &-submit {
        @include flex-center;
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1rem;
        cursor: pointer;
        border: none;
        padding: 1rem;
        background-color: $secondary;
        color: $white;
        font-weight: 500;
        font-size: 1.25rem;
        transition: $transition;
        text-decoration: none;
        img {
            width: 1.5rem;
            margin-right: 0.5rem;
        }
    }
    &-links {
        margin-top: 4rem;
    }
    &-link {
        @include flex-center;
        width: 100%;
        border-radius: 0.5rem;
        cursor: pointer;
        border: none;
        padding: 1rem;
        background-color: $dark;
        color: $white;
        font-weight: 500;
        font-size: 1.25rem;
        transition: $transition;
        text-decoration: none;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        img {
            width: 1.5rem;
            margin-right: 0.5rem;
        }
    }
    &-error {
        display: block;
        color: $error;
        font-weight: 500;
        margin-top: 0.325rem;
    }
    &-add {
        @include flex-center;
        font-size: 1rem;
        font-weight: normal;
        width: 100%;
        background-color: rgba($color: $white, $alpha: 0.25);
        color: $white;
        height: 3rem;
        border-radius: 0.5rem;
        cursor: pointer;
        line-height: 1;
        margin-top: 0.5rem;
        user-select: none;
        span {
            font-family: 'Courier New', Courier, monospace;
            font-size: 2rem;
            font-weight: 500;
            margin-right: 0.5rem;
            user-select: none;
        }
    }
}

.logout {
    @include flex-center;
    border-radius: 0.5rem;
    background-color: $error;
    color: $white;
    width: 100%;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.25rem;
    height: 3.5rem;
    cursor: pointer;
    img {
        width: 1.5rem;
        margin-right: 0.5rem;
        transform: rotate(180deg);
    }
}

.modal {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba($color: $black, $alpha: 0.85);
    padding: 1rem;
    &__content {
        position: relative;
        border-radius: 1rem;
        max-width: 700px;
        width: 100%;
        max-height: 85%;
        background-color: $white;
    }
    &__close {
        @include flex-center;
        position: absolute;
        top: -3.5rem;
        right: 0;
        cursor: pointer;
        background-color: $white;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        img {
            width: 1.5rem;
        }
    }
}

.admin {
    &-topbar {
        @include flex-center-vert;
        position: relative;
        margin-bottom: 1.5rem;
        &__back {
            @include flex-center;
            margin-bottom: 0;
            border: 2px solid $white;
            color: $white;
            border-radius: 1rem;
            cursor: pointer;
            text-decoration: none;
            padding: 0.75rem;
            @media screen and (max-width: 480px) {
                font-size: 0;
                border-radius: 0.75rem;
            }
            img {
                width: 1.25rem;
                margin-right: 0.5rem;
                @media screen and (max-width: 480px) {
                    margin-right: 0;
                }
            }
        }
        &__title {
            color: $white;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-message {
        color: $white;
        text-align: center;
    }
    &-list-item {
        background-color: $white;
        padding: 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }
}

.admin-modal {
    &__content {
        padding: 1.5rem;
        @media screen and (max-width: 480px) {
            padding: 1.5rem 0.75rem;
            max-height: 75%;
        }
    }
    &__title {
        text-align: center;
        margin: 0 0 1rem 0;
        @media screen and (max-width: 480px) {
            margin-bottom: 1.75rem;
        }
    }
    &__field {
        margin-bottom: 1.5rem;
        p {
            margin: 0 0 0.5rem 0;
        }
        input {
            display: block;
            padding: 1rem;
            color: $black;
            background-color: $white;
            border: 2px solid $black;
            border-radius: 0.5rem;
            width: 100%;
            outline: none;
            line-height: 1;
            &.error {
                border-color: $error;
            }
            &:focus {
                border-color: $primary;
            }
            &::placeholder {
                color: #aaa;
            }
        }
    }
}

@import "media";